body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #eaebed;
}

main {
    display: inline-block; 
    width: 600px;
    min-height: 600px; 
    margin-top: 100px; 
    margin-left: calc((100% - 600px) / 2);
}

main > * {
    display: inline-block;
    float: left;
}

img {
    width: 40%; 
    margin-right: 10%;
    margin-top: 25%;
}

div {
    width: 50%;
    margin-top: 35%;
    text-align: center;
}

div > * {
    color: #696f89;
}

h1 {
    font-size: 4em;
    color: black;
}

p {
    padding: 10px 0;
}

p:nth-of-type(1) {
    font-size: 1em;
    
}

p:nth-of-type(2) {
    font-size: 0.8em;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #696f89;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

